body{
    padding: 0;
    margin: 0;
}
.red{
    height: 100px;
    width: 100px;
    background-color: red;
    display: inline-block;
    position: relative;
    left: 304px;

}

.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;

}

.yellow {
    height: 100px;
    width: 100px;
    background-color: yellow;
    display: inline-block;
    position: relative;
    right: 4px;

}